
<body class="container-fluid">
<header>

		<div id="navbarWrap" class="container-fluid">
			<nav class="navbar navbar-default" role="navigation">
				

						<h1 style="padding-left: 15px;"><%=title %></h1>
			  			<div class="navbar-header">
					
						</div>

					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/Login">Login</a></li>
						
						<li><a href="/Register">Register</a></li>
					</ul>

				
			</nav>
		</div>

		<h2><%= title %></h2>
		<hr>
		<br>


</header>
