<!DOCTYPE html>
    <html lang="en">
        <head>

    <meta charset="UTF-8">
    <title>Clipboard</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Import FLAT UI styles -->
    <link rel="stylesheet" href="../stylesheets/flat-ui.css">
    <link rel="stylesheet" href="../stylesheets/flat-ui.min.css">

     <!-- Dash CSS -->
    <link href="../stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Our custom styles -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <style>
        </style>

    <title><%= title %></title>


</head>