<!DOCTYPE html>
    <html lang="en">
        <head>

    <meta charset="UTF-8">
    <title>Clipboard</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">

    <!-- Import FLAT UI styles -->
    <link rel="stylesheet" href="../stylesheets/flat-ui.css">
    
   
    
    <!-- Dash CSS -->
    <link href="../stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

     <!-- Importing Selec2 pluagin for select boxes ? -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css">

    <!-- Our custom styles -->
    <link rel="stylesheet" href="../stylesheets/style.css">

    <link rel="stylesheet" type="text/css" href="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap-datepicker.css" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    

    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script> 
    

    <title><%= title %></title>


</head>