
<% title = "Add Cadets" %>
<% include ../partials/head %>

<% include ../partials/topHeader %>
    <!-- Page Content -->

	<style>
	table, th, td {
		border: 0px;
	}
	td {
		padding-right: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#selectRankTD {
		padding-top: 19px;
	}
	#selectOrgTD {
		padding-top: 19px;
	}
	</style>
    <div id="page-wrapper">
        <div id="groupsContainer">
	        <!-- this will need a new action at some point-->
	        <form method="POST">
	            <!-- this should grow when the button is pressed -->
	            <table id="addGroupsTable" border="0">
	                <tbody>
	                    <tr>
	                        <td><input type="text" id="groupName" class="form-control" placeholder="Group Name" /></td>
	                        <td><input type="button" class="btn btn-inverse" id="addGroupRow" value="Add another group" /></td>
	                    </tr>
	                </tbody>
	            </table>
	            <input type="button" class="btn btn-success" id="next" value="Next">
	        </form>
	    </div>
	    <div id="cadetsContainer" style="display: none;">
	        <!-- this will need a new action at some point-->
	        <form method="POST">
	            <!-- this should grow when the button is pressed -->
	            <table id="addCadetsTable" border="0">
	                <tbody>
	                    <tr>
	                        <td><input type="text" id="cin" class="form-control" placeholder="CIN"/></td>
	                        <td id="selectRankTD">
	                            <select class="selectpicker" id="rankSelect" >
	                                <option>Rank</option>
	                            </select>
	                        </td>
	                        <td><input type="text" id="firstName" class="form-control" placeholder="First Name"/></td>
	                        <td><input type="text" id="lastName" class="form-control" placeholder="Last Name"/></td>
	                        <td id="selectOrgTD">
	                            <select class="selectpicker" id="orgSelect" multiple data-max-options="1" title="Org. Group" >
	                            </select>
	                        </td>
	                        <td>
	                            <div class="btn-group">
	                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
	                                    Trg. Group
	                                    <span class="caret"></span>
	                                </button>
	                                <ul role="menu" class="dropdown-menu">
	                                      <li><a href="#">1</a></li>
	                                      <li><a href="#">2</a></li>
	                                      <li><a href="#">3</a></li>
	                                      <li><a href="#">4</a></li>
	                                      <li><a href="#">5</a></li>
	                                </ul>
	                            </div>
	                        </td>
	                        <td><input type="button" class="btn btn-inverse" id="addCadetRow" value="Add another cadet" /></td>
	                    </tr>
	                </tbody>
	            </table>
	            <input type="button" class="btn btn-success" id="previous" value="Previous">
	            <input type="button" class="btn btn-success" id="submit" value="Submit">
	        </form>
	    </div>
    </div>
    <!-- /#wrapper -->

   


<% include ../partials/footer %>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    $(document).ready(function() {


        $('.selectpicker').selectpicker({
        	style: 'btn-default'
        });

        $("#addGroupRow").click(function() {
          $('#addGroupsTable tbody>tr:last').clone(true).insertAfter('#addGroupsTable tbody>tr:last');
          $('#addGroupsTable tbody>tr:last #groupName').val('');
          return false;
        });

        $("#addCadetRow").click(function() {
            $('#addCadetsTable tbody>tr:last').clone(true).insertAfter('#addCadetsTable tbody>tr:last');
            $('#addCadetsTable tbody>tr:last #cin').val('');
            return false;
        });

        $("#next").click(function() {
        	alert("test");
            $('#groupsContainer').fadeOut();
            setTimeout(function() {$('#cadetsContainer').fadeIn() }, 400);
        });

         $("#previous").click(function() {
            $('#cadetsContainer').fadeOut();
            setTimeout(function() {$('#groupsContainer').fadeIn() }, 400);
        });

        //captures shift enter to add new rows
		var map = {13: false, 16: false};
		$(document).keydown(function(e) {
		    if (e.keyCode in map) {
		        map[e.keyCode] = true;
		        if (map[13] && map[16]) {
		            if($('#groupsContainer').is(':visible')){
	                    $('#addGroupRow').trigger("click");
	                } else {
	                    $('#addCadetRow').trigger("click");
	                }
		        }
		    }
		}).keyup(function(e) {
		    if (e.keyCode in map) {
		        map[e.keyCode] = false;
		    }
		});

		var UUID = "<%= session.user['_id'] %>"
    	var socket = io.connect('/');
    	socket.on('firstReceipt', function(data) {
			console.log("inside firstReceipt");		
    		socket.emit('registrationUUID', {UUID: UUID});
    	});
		socket.on("registrationUUID", function(data){
			if(data.message == "SUCCESS") {
				console.log("emitting getOrgGroups");
	    		socket.emit("getOrgGroups");
	    	}
	    });
		socket.on("returnOrgGroups", function(data) {
			var orgGroups = data.groupData;
			select = document.getElementById('orgSelect');
			console.log("length " + orgGroups.length);
			for(var i = 0; i < orgGroups.length; i++){
				var opt = new Option(orgGroups[i].name, orgGroups[i].number);
				select.add(opt);
			}
			$('#orgSelect').selectpicker('refresh');
		});
		socket.emit("getRanks");
		socket.on("returnRanks", function(data) {
			var ranks = data;
			select = document.getElementById('rankSelect');
			for(var i =0; i < ranks.length; i++){
				var  opt = document.createElement('option');
				opt.value = ranks[i]._id;
				opt.innerHTML = ranks[i].rankName;
				select.add(opt);
			}
			console.log("ranks are " + ranks);
		});

    });
</script>
</html>
