
<!-- CHANGE THIS TO BE WHATEVER THE TITLE OF THE PAGE IS -->
<% title = "CONDUCT ATTENDANCE" %>
<% include ../partials/head %>

<% include ../partials/headerMain %>




        <!-- Page Content -->
      
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Attendance</h1>

                            <div id="notActive">
                                <div class="alert alert-danger" role="alert">There are no attendance sessions active right now</div>
                            </div>

                            <div id="active">
                                <div class="row"> 
                                    <div class="col-xs-6 col-md-6">
                                        <h2>Sign-In</h2>
                                        <hr>
                                        <br>
                                        <div class="form-group">
                                          <input class="form-control" type="text" id="cadet" />
                                          <br>
                                          <br>
                                          <button id="btnSignIn" class="btn btn-block btn-primary">
                                          Sign-In
                                        </button>
                                        </div>

                                    </div>
                                    <div class="col-xs-6 col-md-6">
                                        <h2>Signed-In</h2>
                                        <hr>
                                        <div id="recentActivity">
                                        </div>
                                    </div>
                                </div>

                            </div>
                                
                                

                        

                        <!----CONTENT GOES HERE  ---->
                          
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->


    <!-- /#wrapper -->



<% include ../partials/footer %>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/typeahead.bundle.js"></script>
<script>
$('document').ready(function() {

    //vars
    var active = $('#active');
    var notActive = $('#notActive');
    var signIn = $('#btnSignIn');


    var attendanceID;

    var signedIn = new Array();
    //initialize
    active.hide();
    notActive.hide();


        var UUID = "<%=session.user['_id'] %>";
        console.log(UUID);
        var socket = io.connect('/');
        socket.on('firstReceipt', function (data) {
            console.log(data);
        socket.emit('registrationUUID', { UUID: UUID });//
         socket.on('registrationUUID',function(data){
                //handshake complete and the UUID is associated with a socket on the back-end.
                if (data.message == "SUCCESS"){
                   socket.emit("Attendance",{command:"CHECKACTIVE"});
                   console.log("CheckActive emitted");
    
                }
            })

    
        });

        socket.on("Attendance",function(data){
            console.log("Attendance invoekd");
            console.log(data);
            switch(data.message){
                case "SESSIONACTIVE":
                    //alert("Attendance Session IS active");
                    //notActive.hide();
                    var endDateTime = convertDate(data.endTime);
                    console.log("EndDateTime = "+endDateTime);
                    $('#endTime').append(endDateTime);

                     attendanceID = data.attendanceID;

                    socket.emit("Attendance",{command:"GETNAMES",attendanceID:data.attendanceID})
                    
                    break;
                case "NOSESSIONACTIVE":
                    //alert("No attendance sessions are active");
                    notActive.fadeIn();
                    break;
                case "GETCADETS":
                active.fadeIn();
                    console.log(data);
                    var cadets =data.cadets;
                    var orgGroups = data.orgGroups;
                    transformCadetsOrgGroups(cadets,orgGroups);
                    var searchValues = [];
                    for (var i = 0; i < cadets.length; i++) {
                        var cdt = cadets[i];
                         var searchObject = new Object({word:cdt.CIN+" "+cdt.LastName+" "+cdt.FirstName+" "+cdt.OrgGroupName+" ",name: cdt.LastName});
                         searchValues.push(searchObject);

                    };

                    console.log(searchValues);

                        var states = new Bloodhound({
                          datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.word); },
                          queryTokenizer: Bloodhound.tokenizers.whitespace,
                          limit: 4,
                          local: searchValues
                        });

                        states.initialize();

                        $('#cadet').typeahead(null, {
                          name: 'states',
                          displayKey: 'word',
                          source: states.ttAdapter()
                        }); 
                        break;
                case "SIGNINSUCCESS":
                    //alert(data.cadet+"has been signed in!"); 
                    signedIn.push(data.cadet);
                    var currentDate = new Date();
                    $('#recentActivity').prepend("<div class='alert alert-success' role='alert'>"+currentDate.toTimeString()+":"+data.cadet+" signed in</div>");
                    break;
                case "SIGNINDUPLICATE":
                    //alert("That was a duplicate!");
                    var currentDate = new Date();
                     $('#recentActivity').prepend("<div class='alert alert-warning' role='alert'>"+currentDate.toTimeString()+":"+data.cadet+" entered again, duplicate</div>");
                    break;
                case "ENDATTENDANCECOMPLETE":
                    console.log(data);
                    active.fadeOut();
                    notActive.fadeIn();
                    break;    

            }
        })

        function transformCadetsOrgGroups(cadets,orgGroups){
            for (var i = 0; i < cadets.length; i++) {
                for (var x = 0; x < orgGroups.length; x++) {
                    if(cadets[i].OrgGroup == orgGroups[x].number){
                        cadets[i].OrgGroupName = orgGroups[x].name;
                    }
                };
            };
        }

        signIn.on('click',function(){
            var cadet = $('#cadet').val();
            //alert("Clicked!"+ cadet+",attendanceID is"+attendanceID);
            socket.emit("Attendance",{command:"SIGNIN",attendanceLocation: 1, attendanceID:attendanceID,cadet:cadet})
        })

        function convertDate(parsedDate){
        var dbDate = parsedDate;
                //Grab the current timezone's difference and conver to epoch.
                var d = new Date();
                var n = d.getTimezoneOffset()
                //console.log("timezone offset"+n);
                //Subtract timeZone difference from parsed date (still in epoch)
                var tzDate = Date.parse(dbDate) - n;
                //console.log("tzDate"+tzDate);
                //Convert back to date.
                var finalDate = new Date();
                finalDate.setTime(tzDate);
                var nd = finalDate;
                //console.log("Localed date is "+finalDate.toLocaleString());
                return finalDate.toLocaleString();
    }


            

});


 
</script>



</html>
