
<% title = "Dashboard" %>
<% include ../partials/head %>

<% include ../partials/topHeader %>




        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                        <h3 id="unitDescrip"></h3>
                        <div class="row">
                            
                             <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-child fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div id="unitStrength" class="huge"></div>
                                                <br>
                                                <div>Cadets registered in unit</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-calendar fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div id="upcomingAttendance" class="huge"></div>
                                                <div>Attendance sessions scheduled</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-indent fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">3</div>
                                                <div>Notices of absence/excuses submitted</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-support fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">13</div>
                                                <div>Support Tickets!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        


                        </div>
                        <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   


<% include ../partials/footer %>

<script src="/socket.io/socket.io.js"></script>
<script>
$('document').ready(function() {
        var UUID = "<%=session.user['_id'] %>";
        console.log(UUID);
        var socket = io.connect('/');
        socket.on('firstReceipt', function (data) {
            console.log(data);
        socket.emit('registrationUUID', { UUID: UUID });//

        socket.emit("UnitStats",{command: "getUnitDescrip"});
        console.log("UnitStats + unitDescrip EMITTED");

        socket.emit("UnitStats",{command:"getUnitStrength"});
        console.log("getUnitSTrength EMITTED!");

        socket.emit("attendanceStats",{command: "getNumAttendanceSessions"});
        console.log("AttendanceStats EMITTED");

        
        });

    

    socket.on("updateUnitStats",function(data){
        switch(data.message){
            case "unitStrength":
            $('#unitStrength').html(data.data);
            break;

            case "unitDescrip":
             $('#unitDescrip').html(data.data);

        }

       
    })

    socket.on("updateAttendanceStats",function(data){
        console.log(data);
        var sessAmt = data.data;

        switch(data.message){
            case "numAttendanceSessions":
             $('#upcomingAttendance').html(sessAmt);
             break;
        }
        //alert("GOT SOMETHING!"+data.data);
       


    })

    socket.on("disconnect", function(){
        alert("You've been disconnected!");
    })



});


 
</script>

</html>
