<% title = "INDEX" %>
<% include ../partials/head %>
	


<% if (typeof userData == undefined) { %>
<% include ../partials/loggedinheader %>
<% } else { %>
<% include ../partials/header %>
<% }  %>
	

<div class="container">
	<div class="jumbotron">	
		<h2>Welcome to <%= title %></h2>

		<h3>This is the starting point for V2.0 of the cattendance app..so STAY TUNED!</h3>
	</div>
</div>


<% include ../partials/footer %>

