
<% title = "Manage Attendance" %>
<% include ../partials/head %>

<% include ../partials/topHeader %>




        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Manage Attendance</h1>

                        <div id="noAttendance" class="alert alert-danger" role="alert">
                          <a href="/scheduleAttendance" class="alert-link">Hmm, It looks like you have never had, or have any attendance sessions scheduled. Please click here to schedule a new attendance session.</a>
                        </div>

                        <table  style="text-align: center" id="sessionsTable" class="displayTable">
                            <tr>
                            <th>#</th>
                            <th>Start Date / Time</th>
                            <th>End Date / Time</th>
                            <th colspan="2">Options</th>
                            </tr>
                        </table>
                        
                          
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



<% include ../partials/footer %>

<script src="/socket.io/socket.io.js"></script>
<script>
$('document').ready(function() {
    var sessionsTable = $('#sessionsTable');
    var noAttendance = $('#noAttendance');

    noAttendance.hide();

    sessionsTable.hide();

        var UUID = "<%=session.user['_id'] %>";
        console.log(UUID);
        var socket = io.connect('/');
        socket.on('firstReceipt', function (data) {
            console.log(data);
        socket.emit('registrationUUID', { UUID: UUID });//

    
        });

        //lalal$('#getAttendanceEntries').click(function(){
            socket.on('registrationUUID',function(data){
                //handhake complete and the UUID is associated with a socket on the back-end.
                if (data.message == "SUCCESS"){
                    socket.emit('attendanceStats',{command:"getAttendanceTable"});
        //})
                }
            })
            

        socket.on("Attendance",function(data){
        console.log(data);
        var sessAmt = data.data;

        switch(data.message){
            case "attendanceSessionsTable":
            console.log(data);

            //Push into an array to make sorting easier
            var tableData = new Array();

            if(data.attendanceSessions.length < 1){
                noAttendance.fadeIn();
            }
            for (var i = 0; i < data.attendanceSessions.length; i++) {
                tableData.push(data.attendanceSessions[i]);
            };

            console.log("Table data is"+tableData);

            //Sort by by ascending startData
            tableData.sort(
                    function(a,b) { return Date.parse(a.startDateTime) - Date.parse(b.startDateTime) } 
                );

            console.log("After sort");
            console.log(tableData);

            //render onto table

            for (var i = 0; i < tableData.length; i++) {
                console.log(tableData[i].startDateTime);                
                var startDateTime = convertDate(tableData[i].startDateTime);
                var endDateTime = convertDate(tableData[i].endDateTime); 
                var attendanceID = tableData[i]["_id"];
                sessionsTable.fadeIn();
                sessionsTable.append('<tr><td>'+i+'</td><td>'+startDateTime+'</td><td>'+endDateTime+'</td><td><button value="'+attendanceID+'"" class=" btn btn-block btn-info btnViewAttendance">View</button></td><td><button value="'+attendanceID+'"" class=" btn btn-block btn-danger btnDeleteAttendance">Delete</button></tr>');
            };
            break;
            case "DOWNLOADREADY":
                console.log(data);
                var url = data.url;
                window.location = url;
                break;
            case "DELETESUCESSFUL":
                window.location = "/manageAttendance";
        }
        //alert("GOT SOMETHING!"+data.data);
        var viewAttendance = $('.btnViewAttendance');
        var deleteAttendance = $('.btnDeleteAttendance');

        sessionsTable.on('click','button.btnViewAttendance',function(){
            var attendanceID = $(this).val();
            socket.emit("Attendance",{command:"generateExcelDoc",attendanceID:attendanceID});
            console.log("Generate excel sent off");
        })

        sessionsTable.on('click','button.btnDeleteAttendance',function(){
            var attendanceID = $(this).val();
            socket.emit("Attendance",{command:"DELETEATTENDANCE",attendanceID:attendanceID});
            console.log("Delete excel sent off");
        })

       

    })
    
    //HELPERFUNCTION
    function convertDate(parsedDate){
        var dbDate = parsedDate;
                //Grab the current timezone's difference and conver to epoch.
                var d = new Date();
                var n = d.getTimezoneOffset()
                //console.log("timezone offset"+n);
                //Subtract timeZone difference from parsed date (still in epoch)
                var tzDate = Date.parse(dbDate) - n;
                //console.log("tzDate"+tzDate);
                //Convert back to date.
                var finalDate = new Date();
                finalDate.setTime(tzDate);
                var nd = finalDate;
                //console.log("Localed date is "+finalDate.toLocaleString());
                return finalDate.toLocaleString();
    }
   

    socket.on("disconnect", function(){
        alert("You've been disconnected!");
    })



});


 
</script>



</html>
