
<% title = "Manage Unit" %>
<% include ../partials/head %>

<% include ../partials/topHeader %>




        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Manage Unit</h1>
                        
                        
                        <a href="#" id="incorrectData" class="btn btn-lg btn-danger">This isn't right, let me re-upload</a>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



<% include ../partials/footer %>
<script type="text/javascript">
$('#incorrectData').click(function(){
        //alert("incorrectData clicked");
        //1. Send POST to API saying to PURGE all data from table
        $.ajax({
          type: "POST",
        
          url: '/api/purgeUnitTable',
            success: function(data){
                alert(data);
                $(location).attr('href','/importCadets');
            } 
 
        });

        //2. redoPage
    });
    </script>



</html>
