
<% include ../partials/head %>

	
<% include ../partials/headerMain %>
	<div class="content">
		<h2>Thank-you for registering <%= data.firstName %>!</h2>
		<p>We have sent an email to <%= data.emailAddress%> , please check it for a link to complete your registration process. </p>
	</div>



<% include ../partials/footer %>

