<% title="Register" %>

<% include ../partials/head %>

	
<% include ../partials/headerMain %>
	
<form action="./registration" method="POST">
		Email Address:<br>
		<input type="text" name="emailAddress">
		<br>
		Password:<br>
		<input type="password" name="password">
		<br>
		First Name:<br>
		<input type="text" name="firstName">
		<br>
		Last name:<br>
		<input type="text" name="lastName">
		<br><br>
		<input type="submit" class="btn" value="Submit">
		<p>Already have an account? Please login  <a href="./login">here</a></p>
		</form>

<% include ../partials/footer %>

<script type="text/javascript">
$(document).ready(function(){

	var Obj = {firstName: "Test", lastName: "Test2"};
		  alert(Obj.firstName);
		$.get( "http://localhost:3000/api/getUnits", function( data ) {
		  console.log(data);
		  var test = data;
		  alert("?HI!");
		  alert("TEST "+JSON.stringify(test));
		  var object = JSON.stringify(test);
		  console.log("object is "+object);
		  var test2 = JSON.parse(test);
		  alert(test2);
		  

	
		});
});
</script>