
<% title = "Add Cadets" %>
<% include ../partials/head %>

<% include ../partials/topHeader %>

<style type="text/css">


</style>


	

    <!-- Page Content -->
    <div id="page-wrapper">
    	
    		<h2>SCHEDULE ATTENDANCE</h2>
    		<button class="btn btn-warning btnAddExcuse"></button>


    		<div id="row1" class="row">
	    		<h4>1. Set date/time for attendance session</h4>

				<table class="tblScheduleAttendance" width="100%">
				 
				  <tr>
				    <td width="20%">
				    	<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon2">Date</span>
						  <input type="text" class="dateStart form-control">
						</div>
				    </td>
				    <td width="20%">
				    	<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon2">Start Time</span>
						  <input type="text" class="timeStart form-control">
						</div>
					</td> 
				    <td width="20%">
				    	<div class="input-group">
						  <span class="input-group-addon" id="sizing-addon2">End Time</span>
						  <input type="text" class="timeEnd form-control">
						</div>
					</td>
					<td>
						<button id="btnSetTime" class="btn btn-primary">
						  Create Attendance Session
						</button>
					</td> 

				  </tr>

				</table>
			</div> <!-- End Row 1 -->

			<div class="row" id="row2">
				<h4>2. Select cadets to EXCLUDE from attendance</h4>

				<table class='displayTable' id="confirmTable">
                    <tr>
                        <th>CIN</th>
                        <th>Rank</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Organizational Group</th>
                        <th>Training Group</th>
                        <td>Options</td>
                    </tr>
                    
                </table>
                <br>
                <button id="btnScheduleAttendance" class="btn btn-success">Schedule Attendance Session</button>
			</div> <!-- End of Row 2 -->

			<div id="row3" class="row">

				<h3>Excuse Cadets from Attendance</h3>
				<table id="excusedCadets" class="displayTable">
					<th>CIN</th>
					<th>Rank</th>
					<th>Last Name</th>
					<th>First Name</th>
					<th>Organizational Group</th>
					<th>Training Group</th>

				</table>
				<br>
				<button class="btn btn-success" id="btnSubmitAttendance">Submit Attendance</button>

			</div>
			       		 
			       		 <div id="success">
			       		 	<h1>SUCCESS! <img src="img/icons/svg/retina.svg" alt="Retina"></h1>

			       		 </div>


    	
   	</div> <!-- End page wrapper -->

<% include ../partials/footer %>
<script src="js/flat-ui.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/jquery.timpicker.min.js"></script>
<script type="text/javascript" src="js/datepair.min.js"></script>
<!-- SOCKETIO -->
<script src="/socket.io/socket.io.js"></script>
<script>

$('document').ready(function() {

	//Define UI vars:
	var row1 = $('#row1');
	var row2 = $('#row2');
	var row3 = $('#row3');
	var success = $('#success');
	var btnSetTime = $('#btnSetTime');
	var btnScheduleAttendance = $('#btnScheduleAttendance');

	//Define other vars

	var attendanceCadets = new Array();
	var orgGroups  = new Array();
	//Holds only CIN strings ([CIN])
	var sessionCadets = new Array();

	//holds the cadet Objects
	var attendanceCadets = new Array();

	var excusedCadets = new Array();


	var sendData = new Object();
	sendData.excusedCadets = new Array();
	//Initial hides/shows
	row2.hide();
	row3.hide();
	success.hide();


	//SocketIO stuff
	var UUID = "<%=session.user['_id'] %>";
	 console.log(UUID);
	  var socket = io.connect('/');
	  socket.on('firstReceipt', function (data) {
	    console.log(data);
	    socket.emit('registrationUUID', { UUID: UUID });
	  });


    
    $('.timeStart').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia',
    });

    $('.timeEnd').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia',
   
    });

    $('.dateStart').datepicker({
    	'format': 'm/d/yyyy',
        'autoclose': true
    });

     $('.dateend').datepicker({
    	'format': 'm/d/yyyy',
        'autoclose': true
    });

     //Event Listeners

     $('#row3').on('click','.btnAddExcuse',function(){
		console.log("CLICK!");
		//FORADDING IN EXCUSES! $(this).append("<h1>HYFR</h1>");

	})

     $('#btnSubmitAttendance').click(function(){
		console.log("CLICK!");
		console.log("Before send, senddata is"+sendData);
		socket.emit('scheduleAttendance',{command: "reviewedList",data:sendData});
	})

     

     $(':checkbox').on('change.radiocheck', function() {
		 console.log("A checkbox happened");
		});

     socket.on('scheduleAttendance', function(data){
     	console.log("ScheduleAttendance invoked, with data"+data);
     	console.log(data);
     	switch(data.message){
     		case "SUCCESS":
     		row2.fadeOut();
     		row3.fadeOut();

     		row1.fadeOut();
     		var startDate = data.data.data.dateStart;
     		var startTime = data.data.data.timeStart;
     		var endTime = data.data.data.timeEnd;
     		console.log(endTime);
     		$('#success').fadeIn();
     		$('#success').append("<p> An attendance sesion has been created for "+startDate+"from" +startTime+"to"+endTime+"</p>");
     	}
     })

     btnSetTime.click(function(){
     	console.log("button clicked");
     	socket.emit('scheduleAttendance',{command:"getUnitCadets"});
     	//Send message to socket
     	row2.fadeIn();
     	socket.on('getUnitCadetsDATA',function(data){
     		console.log(data);

     		attendanceCadets = data.Cadets;
     		orgGroups  = data.OrgGroups;
     		console.log(orgGroups);

     		console.log("attendanceCadets added to, its length is now"+ attendanceCadets.length);
     		for (var i = 0; i < data.Cadets.length; i++) {


     			convertOrgNum(data.Cadets[i],orgGroups);

     			
     			//parse values to populate table
     			var handle = data.Cadets[i];
     			var CIN = handle.CIN;
     			var Rank = handle.Rank;
     			var LastName = handle.LastName;
     			var FirstName = handle.FirstName;
     			var OrgGroup = handle.OrgGroup;
     			var TrgGroup = handle.TrgGroup;
     			var OrgGroupName = handle.OrgGroupName;
     			

     			//Add CIN to container
     			sessionCadets.push(handle.CIN);
     			console.log(sessionCadets);

     			console.log("BEFORE APPEND");
     			
     			$('#confirmTable').append('<tr><td>'+CIN+'</td><td>'+Rank+'</td><td>'+LastName+'</td><td>'+FirstName+'</td><td>'+OrgGroupName+'</td><td>'+TrgGroup+'</td><td><input type="checkbox" value='+CIN+' id='+CIN+'></input></td></tr>');

     				$(':checkbox').radiocheck();
     			


     		};

     		$(':checkbox').on('change.radiocheck', function() {
				  var value = Number($(this).val());
				  console.log(value+"was checked/unchecked!");
				  //if VALUE exists in array, remove from array.

				  var comp = sessionCadets.indexOf(value);
				  console.log("Comp = "+comp);
				  console.log("TYPEOF arr"+ typeof(sessionCadets[1]));
				  console.log("TYPEOF val"+typeof(value));
				  //($(this).prepend("<button class='btnAddExcuse'>Add Excuse</button>"));

				  
				  if(comp > -1){
				  	var excCdt = new Object({CIN:value,excuse:""});
				  	console.log("Before push" +excCdt);
				  	sendData.excusedCadets.push(excCdt);
				  	console.log("After push");
				  	console.log(sendData.excusedCadets);
				  	console.log("Excused cadet"+value+"added to array"+sendData.excusedCadets.length);
				  	//console.log(excusedCadets);
				  	sessionCadets.splice(sessionCadets.indexOf(value),1);
				  	console.log("CIN" + value + "delete from array");
				  	console.log("Array Size now "+ sessionCadets.length);
				  	//console.log(sessionCadets);
				  }
				  //if VALUE is NOT in array, that means gotta add cadet into ARRAY
				  else{
				  	//sessionCadets.push(value);
				  	console.log("CIN "+value+"added to array");
				  	console.log("Array Size now "+sessionCadets.length);
				  	//console.log(sessionCadets);
				  }
				});
     	})
     });

	

	 btnScheduleAttendance.click(function(){
	 	var timeEnd = $('.timeEnd').val();
	 	var timeStart = $('.timeStart').val();
	 	var dateStart = $('.dateStart').val();

	 	
	 	sendData.sessionCadets = sessionCadets;
	 	
	 	sendData.timeStart = timeStart;
	 	sendData.timeEnd = timeEnd;
	 	sendData.dateStart = dateStart;

	 	console.log("Obj ready to send "+sendData);

	 	if(timeEnd && timeStart && dateStart != undefined){
	 		row2.fadeOut();

	 		console.log("Length"+excusedCadets.length);
	 		if(sendData.excusedCadets.length > 0){
				row3.fadeIn();
				console.log("after row3 fade,attendanceCadets length is "+attendanceCadets.length+"excusedCadets length"+sendData.excusedCadets.length);
				//console.log(attendanceCadets);
				for (var i = 0; i < attendanceCadets.length; i++) {



				var handle = attendanceCadets[i];
				var CIN = handle.CIN;
				var Rank = handle.Rank;
				var LastName = handle.LastName;
				var FirstName = handle.FirstName;
				var OrgGroup = handle.OrgGroup;
				var TrgGroup = handle.TrgGroup;
				var OrgGroupName = handle.OrgGroupName;
				//console.log("attendnaceCadet"+i+" CIN is"+CIN);
				//console.log("excusedCadets length"+excusedCadets.length);

				console.log(sendData.excusedCadets);
				for (var x = 0; x < sendData.excusedCadets.length; x++) {
					//console.log("X is" +x+"excused CIN is"+sendData.excusedCadets[x]);
						 if (sendData.excusedCadets[x].CIN === CIN){
						 	//console.log("MATCH");
						 	$('#excusedCadets').append('<tr><td>'+CIN+'</td><td>'+Rank+'</td><td>'+LastName+'</td><td>'+FirstName+'</td><td>'+OrgGroupName+'</td><td>'+TrgGroup+'</td><td><button class="btn btn-warning btnAddExcuse" value="'+CIN+'">Add Excuse</button></td></tr>');
						 }
						 else{
						 	//console.log("NO MATCH");
						 }
					};	


				};
				console.log("Get Cadets with these CIN's");

	 		}
	 		else{
	 			console.log("NO EXCUSES! SEND THE CADETS!");
	 			socket.emit('scheduleAttendance',{command: "reviewedList",data:sendData,})
	 		}
	 		
	 	}
	 	else{
	 		alert("Please fill in one/some of the date/time inputs");
	 	}
	 });


//Helperfunctions
function convertOrgNum(cadet,orgGroups){
	console.log("Inside conver"+orgGroups);
	for (var i = 0; i < orgGroups.length; i++) {
		//console.log("match cadet org:"+cadet.OrgGroup+"org group"+orgGroups[i].name);

		if(cadet.OrgGroup == orgGroups[i].number){
			//console.log("MATCH"+number+","+orgGroups[i].number);
			cadet.OrgGroupName = orgGroups[i].name;
		}
	};
}
     
    
});
</script>
           

</html>	

