<% include ../partials/head %>
<% include ../partials/headerMain %>

   

    <div class="container">
      <div class="col-md-12">
          <table>
            <th>_ID</th>
            <th>emailAddress</th>
       
            <th>firstName</th>
            <th>lastName</th>

          <% for(var i=0; i<content.length; i++) {%>
            <tr>
              <td><%= content[i]._id %></td>
              <td><%= content[i].emailAddress %></td>
        
              <td><%= content[i].firstName %></td>
              <td><%= content[i].lastName %></td>
            </tr>
          <% } %>

          </table>
      </div>
    </div>
    

<% include ../partials/footer %>