
<% include ../partials/head %>

	
<% include ../partials/header %>



<div class="content">
<h2>Welcome <%= data.firstName %> <%=data.lastName %></h2>
<p></p>
</div>

<% include ../partials/footer %>

