
.displayTable {
   border: 1px solid black;
}

.displayTable th{
   border: 1px solid black;
}

.displayTable td{
   border: 1px solid black;
}




.navbar{
	background-color: #2c3e50;
}

#navbarTitle{
color:white;
}

#sideBarPill{
	margin-top:57px;
}

